<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <img class="profile-avatar" src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
  </div>
  <h1> It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (profile.foods.length) { %>
    <h2> <%= isSelf ? 'You have' : `${profile.name} has` %> foods see them here! </h2>
    <h3>
      <%= isSelf ? 'You have' : `${profile.name} has`%>
      been tracking your foods since <%= profile.createdAt.toLocaleDateString() %>
    </h3>
    <% profile.foods.forEach(food => { %>
      <ul>
        <li> Food Name: <a href="<%= food.name %>">
        <%= food.name %> </a> </li>
        <li> Category: <%= food.category %></li>
        <li> Vitamin: <%= food.vitamins?.join(', ') %></li>
        <li> Reaction: <%= food.reactions ? "Yes" : "No" %></li>
      </ul>
      <% if (!food.owner.equals(user?.profile._id)) { %>
        <% function foodExistsInFoods(eachFood) {
          return profile.foods.some(eachFood => eachFood.equals(food._id))
        } %>
        <% if (!foodExistsInFoods()) { %>
          <form action="/foods/<%= food._id %>/add-to-profile" method="POST">
            <button type="submit"> Add To My Profile</button>
          </form> 
        <% } %>
        <% } else { %>
          <form action="/foods/<%= food._id %>/delete-from-profile?_method=DELETE" method="POST">
            <button type="submit"> Delete From Profile</button>
          </form>
      <% } %>
    <% }) %>
  <% } else { %>
    <h2><%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any foods added!</h2>
  <% } %>
</main>

<%- include('../partials/footer') %>