<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <img class="profile-avatar" src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
  </div>
  <h1> It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (profile.foods.length) { %>
    <h2>
      <%= isSelf ? 'You have' : `${profile.name} has` %> foods see them here!
    </h2>
    <%= isSelf ? 'You have' : `${profile.name} has`%>
    been tracking your foods since <%= profile.createdAt.toLocaleDateString() %>
  </h3>
    <% profile.foods.forEach(food => { %>
      <h3>
      <li>
        <ul> Food Name: <a href="<%= food.name %>">
        <%= food.name %> </a> </ul>
        <ul> Category: <%= food.category %></ul>
        <ul> Vitamin: <%= food.vitamins?.join(', ') %></ul>
        <ul> Reaction: <%= food.reactions ? "Yes" : "No" %></ul>
        <% if (!food.owner.equals(user?.profile._id)) { %>
          <ul> 
              <form action="/foods/<%= food._id %>/add-to-profile" method="POST">
              <button type="submit"> Add To My Profile</button>
              </form>  
          </ul>
        <% } %>
      
      </li>
      <% }) %>
    <% } else { %>
      <h2>
        <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any foods added!
      </h2>
  <% } %>
</main>

<%- include('../partials/footer') %>