<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('./partials/nav') %>

<main class="layout">

  <section class="header">
    <h3> Your Food Sensitivity Ally</h3>
    <h1> Sensi Tracker </h1>
    <h3> Navigating Food Sensitivities, One Entry at a Time</h3>
    <p>Sensi Tracker: Your central hub for simplifying your food journey and promoting healthier living. Easily monitor your food sensitivities, track reactions, and explore a community of users' food insights. Plus, discover delectable recipes tailored to your dietary restrictions, ensuring you never sacrifice flavor on the path to a vibrant, worry-free lifestyle.</p>
  </section>
  <!-- make this into a banner or call out of some sort -->
  <!-- when user isnt logged in encourage them to log in to unlock more features -->

  <section class="user">
    <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
    <% if (user?.profile.avatar) { %>
      <div>
        <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
        />
      </div>
    <% } %>

  </section>

  <!-- add an image here - create in canva -->
  <section class="buttons-section">
      <a href="/foods" class="buttons-container">
        <button class="hero-btns"> View Foods </button>
      </a>
      <!-- <button> View Allergens </button> -->
  </section>

  <section class="app-features">
    <h2>Explore App Features</h2>
  </section>
</main>


<%- include('./partials/footer') %>
