<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/editfood.css" />
<%- include('../partials/nav') %>

<section class="header">
  <h1 class="food-h1s"><%= title %></h1>
</section>

<% if (food.owner.equals(user?.profile._id)) { %>
<section class="food-description">
  <form action="/foods/<%= food._id %>?_method=PUT" method="POST" autocomplete="off">
    <div class="form-layout">
      <label for="food-name-input"> Food Name: </label>
      <input type="text" name="name" id="food-name-input" value="<%= food.name %>">
      <label for="food-cat-input"> Category: </label>
      <input type="text" name="category" id="food-cat-input" value="<%= food.category %>">
      <label for="vitamin-input"> Vitamins: </label>
      <input type="text" name="vitamins" id="vitamin-input" value="<%= food.vitamins %>">
    </div>
    <div class="form-divs-btns">
      <button type="submit" class="form-btns button-86">Save Food</button>
    </div>
  </form>
<% } else { %>
  <h2> <%= food.name %> can only be edited by owner</h2>
  <p>Please select a food you created in order to gain edit access.</p>
  <div class="form-divs-btns">
    <a href="/foods">
      <button type="submit" class="form-btns">Return To Foods</button>
    </a>
  </div>
</section>
<% } %>

<%- include('../partials/footer') %>