<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/foods.css" />
<%- include('../partials/nav') %>
<main class="layout" >
  <section class="header">
    <h1 class="food-h1"><%= title %></h1>
    <p class="food-ps">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolores optio odit officia repellendus iste sint rem impedit tempore. Vitae, nihil fugit beatae cumque nulla impedit non dicta repellendus illum.</p>
  </section>
  <section class="body-newFood">
    <% if (user) { %>
      <h1 class="food-h2"> Add New Food</h1>
      <form action="/foods" method="POST" id="newFood-form" class="addFood-Form">
        <div class="form-labels">
          <label for="food-name-input" class="form-labels"> Food Name: </label>
          <label for="food-cat-input" class="form-labels"> Category: </label>
          <label for="vitamin-input" class="form-labels"> Vitamins: </label> 
        </div>
        <div class="form-input">
          <input type="text" name="name" id="food-name-input">
          <input type="text" name="category" id="food-cat-input">
          <input type="text" name="vitamins" id="vitamin-input">
        </div>
        <div class="form-divs-btns">
          <button type="submit" class="form-btns">Add Food</button>
        </div>
      </form>
    <% } %>
    </section>
    <section class="body-allFoods" id="layout-body-allFoods">
      <form action="/foods" method="GET">
        <div class="cards">

          <% foods.forEach(food => { %>
            <article class="card">
              <div class="text">
                <a href="/foods/<%= food._id %>"> <b><%= food.name %></b> <br></a>
                <label> <b> Category:</b> </label> <%= food.category %> <br>
                <label><b>Vitamins:</b> </label> <%= food.vitamins %> <br>
                <% if (food.owner.equals(user?.profile._id)) { %>
                  <br> <form action="/foods/<%= food._id %>?_method=DELETE" method="POST">
                    <button type="submit" id="trash-btn">❌</button>
                  </form>
                  <% } %>
                </div>
              </article>
              <% }) %>

    </section>
  <section class="body-sortedFoods"></section>

</main>

<!-- sort by food category -->

<%- include('../partials/footer') %>
