<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1 class="food-h1s"><%= title %></h1>
<p class="food-ps">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolores optio odit officia repellendus iste sint rem impedit tempore. Vitae, nihil fugit beatae cumque nulla impedit non dicta repellendus illum.</p>

<% if (user) { %>
  <section class="add-form-section">
    <h1 class="food-h1s" ></h1>
    <form action="/foods" method="POST">
      <label for="food-name-input"> Food Name: </label>
      <input type="text" name="name" id="food-name-input">
      <label for="food-cat-input"> Category: </label>
      <input type="text" name="category" id="food-cat-input">
      <label for="vitamin-input"> Vitamins: </label> 
      <input type="text" name="vitamins" id="vitamin-input">
      <div class="form-divs-btns">
        <button type="submit" class="form-btns">Add Food</button>
      </div>
    </form>
  </section>
<% } %>

<h2 class="foods-h2"> Click on a food to view its details and make edits.</h2>

<section class="items-all">

  <form action="/foods" method="GET" class="display-form">
    <% foods.forEach(food => { %>
      <div>
        <ul>
          <a href="/foods/<%= food._id %>">
            <label>Food Name:</label>
            <%= food.name %>
          </a>
          <% if (food.owner.equals(user?.profile._id)) { %>
            <!-- ask ben how to write the line of code above more efficiently using variables -->
            <form action="/foods/<%= food._id %>?_method=DELETE" method="POST" class="delete-form">
              <button type="submit">Delete</button>
            </form>
          <% } %>
          <li> <label>Category:</label> <%= food.category %></li>
          <li> <label>Vitamins:</label> <%= food.vitamins %></li>
        </ul>
      </div>
  
    <% }) %>
  </form>
</section>

<!-- sort by food category -->

<%- include('../partials/footer') %>
