<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1 class="food-h1s"><%= food.name %> <%= title %></h1>
<% if (user) { %>
  <div class="form-divs-btns">
    <button type="submit" class="edit-btn"> Edit Details</button>
  </div>
<% } %>
<section class="items-all">

  <form action="/foods/<%= food._id %>" method="GET" class="display-form">
      <label>Category:</label> <%= food.category %>
      <label>Vitamins:</label> <%= food.vitamins %>
  </form>
</section>

<section class="add-items">

  <h4 class="food-h4"> Want to add a vitamin to <%= food.name %>?</h4>

    <select name="vitamins" id="vitamins-select">
      <option value="<%= food.vitamin %>"> <%= food.vitamin %></option>
    </select>
    <div class="form-divs-btns">
      <button type="submit" class="form-btns">Add Vitamin</button>
    </div>
</section>

<section>

</section>
<%- include('../partials/footer') %>