<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1 class="food-h1s"><%= food.name %> <%= title %></h1>
<% if (food.owner.equals(user?.profile._id)) { %>
  <div class="form-divs-btns">
    <a href="/foods/<%= food._id %>/edit">
      <button type="submit" class="edit-btn"> Edit Details</button>
    </a>
  </div>
<% } %>
<section class="items-all">

  <form action="/foods/<%= food._id %>" method="GET" class="display-form">
      <label>Category:</label> <%= food.category %>
      <label>Vitamins:</label> <%= food.vitamins %>
  </form>
</section>

<section class="add-items">

  <h4 class="food-h4"> Want to add a vitamin to <%= food.name %>?</h4>

    <select name="vitamins" id="vitamins-select">
      <option value="<%= food.vitamin %>"> <%= food.vitamin %></option>
    </select>
    <div class="form-divs-btns">
      <button type="submit" class="form-btns">Add Vitamin</button>
    </div>
</section>

<section>
  <h2>Experience</h2>
<% if (user) { %>
  <p>Add your experience such as symptoms or reactions</p>
  <form action="/foods/<%= food._id %>/reactions" method="POST">
    <label for="name-textarea">Reaction:</label>
    <textarea name="text" id="name-textarea" cols="40" rows="6"></textarea>
    <label for="allergen-input">Potential Allergen: </label>
    <input type="text" name="potentialAllergen" id="allergen-input">
    <label for="condition-input">Potential Condition: </label>
    <input type="text" name="potentialCondition" id="condition-input">
    <button type="submit">Add Experience</button>
  </form>
<% } %>
</section>
<section class="items-all">
  <h2></h2>
  <% if (food.reactions.length) { %>
    <table>
      <thead>
        <tr>
          <th> Added By</th>
          <th> Created On</th>
          <th> Experience / Reaction </th>
          <th> Potential Allergen</th>
          <th> Potential Condition</th>
        </tr>
      </thead>
      <% food.reactions.forEach(reaction => { %>
        <tbody>
          <tr>
            <td> <%= reaction.owner %></td>
            <td> <%= reaction.createdAt.toLocaleDateString() %></td>
            <td> <%= reaction.text %></td>
            <td> <%= reaction.potentialAllergen %></td>
            <td> <%= reaction.potentialCondition %></td>
          </tr>
        </tbody>
      <% }) %>
    </table>
  <% } %>
</section>
<%- include('../partials/footer') %>