<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/foodeach.css" />
<%- include('../partials/nav') %>

<main class="layout">
<section class="header">
  <h1 class="food-h1s"><%= food.name %> <%= title %></h1>
  <h3 class="created-date" > Created on: <%= food.createdAt.toLocaleDateString() %></h3>
</section>

<section class="food-info">
  <form action="/foods/<%= food._id %>" method="GET" class="top-form">
    <div class="form-labels">
      <label class="food-details-header">Category:</label>
      <label class="food-details-header">Vitamins:</label>
    </div>
    <div class="form-content">
      <p class="food-entry"><%= food.category %></p>
      <p class="food-entry"><%= food.vitamins.join(', ') %></p>
    </div>
</form>

<section class="food-description">
  <% if (food.owner.equals(user?.profile._id)) { %>
    <div class="form-divs-btns" id="edit-btn">
      <a href="/foods/<%= food._id %>/edit">
        <button type="submit" class="btn button-86"> Edit Details</button>
      </a>
    </div>
  <% } %>
</section>

<section class="add-items">
<% if (user) { %>
    <h4 class="food-h4"> Want to add a vitamin to <%= food.name %>?</h4>
    <div class="dropdown">
      <select name="vitamins" id="vitamins-select">
        <% food.vitamins.forEach(vitamin => { %>
          <option value="<%= vitamin %>"> <%= vitamin %> </option>
        <% }) %>
      </select>
    </div>
    <div class="form-divs-btns">
      <button type="submit" class="btn button-86 add-items-button">Add Vitamin</button>
    </div>
    <% } %>
  </section>

<section class="add-reaction">
  <h2>Experience</h2>
<% if (user) { %>
  <p>Add your experience such as symptoms or reactions</p>
  <form action="/foods/<%= food._id %>/reactions" method="POST">
    <div class="input-labels">
      <label for="allergen-input">Potential Allergen: </label>
      <input type="text" name="potentialAllergen" id="allergen-input" class="inputbottom">
      <label for="condition-input">Potential Condition: </label>
      <input type="text" name="potentialCondition" id="condition-input" class="inputbottom">
    </div>
    <label for="name-textarea">Reaction:</label>
    <textarea name="text" id="name-textarea" cols="40" rows="6" class="form-input-text"></textarea>
    <div class="button-holder">
      <button type="submit" class="btn" id="add-reaction">Add Experience</button>
    </div>
  </form>
<% } %>
</section>

<section class="reactions-listed">
  <h2></h2>
  <% if (food.reactions.length) { %>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th class="header-cell"> </th>
            <th class="header-cell"> Added By</th>
            <th class="header-cell"> Created On</th>
            <th class="header-cell"> Experience / Reaction </th>
            <th class="header-cell"> Potential Allergen</th>
            <th class="header-cell"> Potential Condition</th>
          </tr>
        </thead>
        <% food.reactions.forEach(reaction => { %>
          <tbody>
            <tr>
              <td>
              <% if (reaction.owner.equals(user?.profile._id)) { %>
                  <form action="/foods/<%= food._id %>/reactions/<%= reaction._id %>?_method=DELETE" method="POST">
                  <button type="submit">x</button>
                </form>
                <% } else { %>
                  
                <% } %>
              </td>
              <td> <%= reaction.owner.name %></td>
              <td> <%= reaction.createdAt.toLocaleDateString() %></td>
              <td> <%= reaction.text %></td>
              <td> <%= reaction.potentialAllergen %></td>
              <td> <%= reaction.potentialCondition %></td>
            </tr>
          </tbody>
        <% }) %>
      </table>
    </div>
  <% } %>
</section>
</main>
<%- include('../partials/footer') %>